# Telegram
API_ID=
API_HASH=
SESSION_STRING=

# MongoDB
MONGO_URL=
DATABASE_NAME=AlexaDb

# Behaviour
REPLY_DELAY=60
REPLY_TO_NORMAL_MESSAGES=true
MAX_PENDING_JOBS=1000

# Render
PORT=10000

# Logging
LOG_LEVEL=INFO

# Application
APP_NAME=VIP-ID-CHATBOT
